# Layout
layout : center-top
transition : none

# Look-and-Feel
theme : night
theme-override : assets/css/repro/PITCHME.css
code-line-numbers : true
mathjax : TeX-MML-AM_HTMLorMML-full
charts : true

logo : /assets/images/repro/repro-logo-white.png
footnote : ""

# Analyize & Share
gatoken : UA-30683463-3
title : "複数のスタートアップを通して得た失敗と学び"
description : "複数のスタートアップを通して得た失敗と学び on Rails developer meetup 2018 day 4"
# thumbnail :
