.reveal section img {
  border: 0px;
  box-shadow: none;
  background: none;
  /* max-height: 300px; */
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  font-weight: bold;
}

.reveal li {
  font-size: 90%;
}

.reveal blockquote {
  width: 90%;
  text-align: left;
}

.w-75 {
  width: 75%;
}

/*
.reveal {
  font-size: 36px;
}
*/
